body, html {
    height: 100%;
    background-color: rgb(246, 209, 68);
    

}
.bg{
   
    background: url(fotos/titulinis.jpg);
    background-position: center;
    background-attachment: cover;
    background-size: cover;
    height: 15%;
    width: 100%;
  
}

#menu {
    display: flex;
	width: 80%;
	height: 40px;
	margin: 0 auto;
	padding: 0 auto;
    background-color: black;
    text-align: center;
    justify-content: center;
}

#menu ul {
	margin: 0;
    padding: 0px 0px 0px 10px;
    list-style: none;
	
}

#menu li {
   display: flex;
    float: left;
    
}

#menu a {
	display: flex;
	height: 18px;
	padding: 12px 20px 0px 5px;
	text-decoration: wavy;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: whitesmoke;
    border: none;
    text-align: center;
    justify-content: center;

}

#menu a:hover {
    text-decoration: underline;
}

#menu .main a {
	padding-left: 0;
}
#wrapper {
	margin: 0 auto;
    padding: 0;
}

#lg {
    display: flex;
    position: relative;
	float: none;
    height: 150px;
    margin: 0px auto;
    padding: 0px;
   
    
}

#logo{
    background: url(fotos/smegenai.jpg);
    background-position: center;
    background-attachment: cover;
    background-repeat: no-repeat;
    
    
  
   
	
}

#lg h1 {
    margin: 0 auto;
	padding: 0;
	padding-top: 40px;
	letter-spacing: 1px;
    font-size: 4em;
    color: green;
	
}

#sidebar {
	float: left;
    width: 230px;
    padding: 60px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
    padding: 0;
    line-height: 35px;
	border-bottom: 1px dashed #0e0d0d;
}

#sidebar h2 {
	height: 38px;
	padding: 12px 0 0 0px;
	letter-spacing: -.5px;
	color: #181818;
}

#sidebar a {
	border: none;
}

#sidebar a:hover {
	text-decoration: underline;
}
#content {
    display: flex;
    position: relative;
	float: center;
    padding: 60px;
    
    
}

.post .title {
    height: 38px;
	letter-spacing: -.5px;
	color: #E3295B;
}
.entry{
    display: block;
    width: 80%;
}
