body, html {
    height: 100%;
    background-color: rgb(246, 209, 68);
    

}
.bg{
   
    background: url(fotos/titulinis.jpg);
    background-position: center;
    background-attachment: cover;
    background-size: cover;
    height: 15%;
    width: 100%;
  
}

#menu ul{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 100%;
	height: 40px;
	background-color: black;
}


#menu a {
	display: flex;
	height: 18px;
	padding: 12px 20px 0px 5px;
	text-decoration: wavy;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: whitesmoke;
    border: none;
    text-align: center;
    justify-content: center;

}

#menu a:hover {
    text-decoration: underline;
}


#lg {
    text-align: center;
    height: 100px;
    margin: 0px auto;
    padding: 0px;
	letter-spacing: 1px;
    font-size: 1.5rem;
    color: green;
    
}

#sidebar {
	float: left;
    width: 180px;
    padding: 60px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
    padding: 0;
    line-height: 35px;
    border-bottom: 1px dashed #0e0d0d;
    
}

#sidebar h2 {
	height: 38px;
	padding: 12px 0 0 0px;
	letter-spacing: -.5px;
	color: #181818;
}

#sidebar a {
    text-decoration: none;
    color: #d81818;
    font-size: 1.2rem;

}

#sidebar a:hover {
	text-decoration: underline;
}
#content {
    display: flex;
    position: relative;
	float: center;
    padding: 60px;
    
    
}

.post .title {
    height: 38px;
	letter-spacing: -.5px;
	color: #E3295B;
}
.entry{
    display: block;
    width: 80%;
}
#button{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 10%;
    
    
}
#button:hover{
    border-radius: 100%;
}
