body, html {
    height: 100%;
    background-color: rgb(246, 209, 68);
    

}
.bg{
   
    background: url(fotos/titulinis.jpg);
    background-position: center;
    background-attachment: cover;
    background-size: cover;
    height: 15%;
    width: 100%;
  
}

#menu {
    display: flex;
	width: 80%;
	height: 40px;
	margin: 0 auto;
	padding: 0 auto;
    background-color: black;
    text-align: center;
    justify-content: center;
}

#menu ul {
	margin: 0;
    padding: 0px 0px 0px 10px;
    list-style: none;
	
}

#menu li {
   display: flex;
    float: left;
    
}

#menu a {
	display: flex;
	height: 18px;
	padding: 12px 20px 0px 5px;
	text-decoration: wavy;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: whitesmoke;
    border: none;
    text-align: center;
    justify-content: center;

}

#menu a:hover {
    text-decoration: underline;
}

#menu .main a {
	padding-left: 0;
}
#wrapper {
	margin: 0 auto;
    padding: 0;
}

#lg {
    display: flex;
    position: relative;
	float: none;
    height: 150px;
    margin: 0px auto;
    padding: 0px;
   
    
}

#logo{
    background: url(fotos/smegenai.jpg);
    background-position: center;
    background-attachment: cover;
    background-repeat: no-repeat;
    
    
  
   
	
}

#lg h1 {
    margin: 0 auto;
	padding: 0;
	padding-top: 40px;
	letter-spacing: 1px;
    font-size: 4em;
    color: green;
	
}
.swiper-container {
    position: relative;
    display: flex;
    top: 0;
    bottom: 20px;
    width: 100%;
    height: 100% ; 

  }

  .swiper-slide {
    text-align: center;
    background-size: cover;
    background: rgb(246, 209, 68);
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 200%;
    margin-bottom: 20px;
    
    
  }
