body, html {
    height: 100%;
    background-color: rgb(246, 209, 68);
    

}
.bg{
   
    background: url(fotos/titulinis.jpg);
    background-position: center;
    background-attachment: cover;
    background-size: cover;
    height: 15%;
    width: 100%;
  
}

#menu ul{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 100%;
	height: 40px;
	background-color: black;
}


#menu a {
	display: flex;
	height: 18px;
	padding: 12px 20px 0px 5px;
	text-decoration: wavy;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: whitesmoke;
    border: none;
    text-align: center;
    justify-content: center;

}

#menu a:hover {
    text-decoration: underline;
}


#lg {
    position: relative;
    text-align: center;
    height: 100px;
    margin: 0px auto;
    letter-spacing: 0.5px;
    font-size: 2rem;
    color: green;
    animation-name: koko;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    width: 90%;
}

@keyframes koko {
    0%   {color:red;left: 0px; top: 0px;}
    25%  {color:rgb(44, 44, 38); left:20px; top: 0px;}
    50%  {color:blue;left: 20px; top: 20px;}
    75%  {color:green;left: 0px; top: 20px;}
    100% {color:red;left: 0px; top: 0px;}
  }


#pav #coco{
    display: flex;
    float: left;
    padding-top: 10px;
    max-width: 300px;
    
}
@keyframes foo { 
	0% { content: url(fotos/coconut3.jpg); } 
	33% { content: url(fotos/coconut2.jpg); } 
    66% { content: url(fotos/coconut1.jpg); } 
    100% { content: url(fotos/coconut4.jpg); }
	
} 
 
.bar { 
    display: flex;
    float: right;
	animation-name: foo; 
	animation-duration: 3s; 
	animation-iteration-count: infinite; 
	max-height: 500px; 
    max-width: 300px; 
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 25%;
   
    
} 
#intro{
    padding-top: 20px;
    text-align: center;
    color: teal;
    font-size: 4rem;
    font-style: italic;

}


